<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Contacto</title>

<!-- Estilos y fuentes del template  -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="/static/css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

<!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/templates/inicio.html">DOG-HEALTH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templates/informacionCanina.html">INFORMACIÓN CANINA</a>
                </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/movil.html">PROTOTIPO MÓVIL</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/iot.html">PROTOTIPO IOT</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/contacto.html">NOSOTROS</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <nav>
<!-- Cabecera -->
<header 
class="masthead" 
style="background-image: url('/static/img/contacto.png')">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
            <h1>Contacto</h1>
        </div>
        </div>
    </div>
    </div>
</header>

<!-- Contenido Principal -->
<div class="container">
    <h2 class="section-heading2">Laura Juaréz Vargas </h2>
    <p><b>Teléfono:</b> +52 247 108 4653 <b></p>
    <p>Email : </b> lau72abrvjua@gmail.com</p>
    <br>
    <h2 class="section-heading2">Gustavo Santiago Ortiz</h2>
    <p><b>Teléfono:</b> +52 247 101 8707 <b></p>
    <p>Email : </b> santiagogustavo882@gmail.com </p>
    <br>        
    <h2 class="section-heading2">Cristian Giovanni Huerta Rodríguez</h2>
    <p><b>Teléfono:</b> +52 241 157 7906 <b></p>
    <p>Email : </b> huertacristiangio@gmail.com</p>
    <br>
    <h2 class="section-heading2">Marina Portillo Carreón</h2>
    <p><b>Teléfono:</b> +52 644 281 27 62 <b></p>
    <p>Email : </b> portillocarreonmarina@gmail.com</p>
</div>

<!-- Pié de página -->
<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <!-- Lista de redes sociales u otros enlaces -->
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                </ul>
                <p>Copyright &copy; 2024 · Innovation System (Estudiantes de T.S.U. en T.I. Área Desarrollo de Software Multiplataformas)</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap y Javascripts -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/clean-blog.min.js"></script>

</body>

</html>
