<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>DOG-HEALTH</title>

<!-- Estilos y fuentes del template  -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="/static/css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

<!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/templates/inicio.html">DOG-HEALTH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templates/informacionCanina.html">INFORMACIÓN CANINA</a>
                </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/movil.html">PROTOTIPO MÓVIL</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/iot.html">PROTOTIPO IOT</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/contacto.html">NOSOTROS</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <nav>
<!-- Cabecera -->
<header 
class="masthead" 
style="background-image: url('/static/img/inicio.avif')">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>BIENVENIDOS</h1>
            <h1>A</h1>
            <h1>DOG-HEALTH</h1>
        </div>
    </div>
    </div>
</header>

<!-- Contenido Principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2 class="section-heading">Objetivo</h2>
                    <p>Prevenir enfermedades caninas en razas pequeñas, medianas y grandes, derivadas de anormalidades diagnosticadas y observadas en el monitoreo de signos vitales, tales como pulsaciones cardiacas y temperatura corporal, con ayuda de sensores de pulso y temperatura, logrando así una mejor calidad de vida. Dicho proyecto se realizará en un estimado de 3 meses aproximadamente, de igual manera se probará en canes reales de distintas razas y en diferentes entornos para monitorear la variación de signos vitales.</p>

                    <h2 class="section-heading">Justificación</h2>
                    <p>A lo largo de los años se han venido desarrollando un sin número de dispositivos para el cuidado de mascotas, sin embargo, se ha analizado que estos aparatos se basan en su mayoría en determinar la ubicación, rastreo o distribuidores de comida. Debido a eso, diseñar un prototipo para monitorear los signos vitales del can a través de</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <br>
                    <p>sensores de manera que se pueda detectar posibles problemas como temperatura alta o dificultad para respirar sería de gran importancia tanto para el amo como para los veterinarios. 
                    La mayoría de las personas tienen mascotas, pero no tienen conocimiento de la temperatura correcta que el can debe mantener diariamente al igual que las pulsaciones. Con este prototipo se pretende que el dueño de la mascota tenga un control constante sobre los signos vitales del animal, así mismo, sirva de ayuda para las mascotas que padecen de problemas cardiacos o respiratorios severos que necesitan tener un control diariamente. La importancia de este proyecto radica en implementar un mecanismo fácil y práctico mediante el diseño de un collar, el poder controlar el estado del can teniendo un seguimiento respecto a su salud e informar de manera oportuna en el caso de alguna enfermedad. Por ello, contará con sensores específicos para tener los valores de los signos vitales.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pié de página -->
<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <!-- Lista de redes sociales u otros enlaces -->
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                </ul>
                <p>Copyright &copy; 2024 · Innovation System (Estudiantes de T.S.U. en T.I. Área Desarrollo de Software Multiplataformas)</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap y Javascripts -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/clean-blog.min.js"></script>


</body>

</html>
