<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo IOT</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Estilos CSS personalizados -->
    <link rel="stylesheet" href="/static/css/clean-blog.min.css">
</head>

<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/templates/inicio.html">DOG-HEALTH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menú
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/informacionCanina.html">INFORMACIÓN CANINA</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link" href="/templates/movil.html">PROTOTIPO MÓVIL</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/templates/iot.html">PROTOTIPO IOT</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/templates/contacto.html">NOSOTROS</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <nav>

    <!-- Cabecera -->
<header 
class="masthead" 
style="background-image: url('/static/img/Designer.jpeg')">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
            <h1 class="text-center">Prototipo IoT</h1>
        </div>
        </div>
    </div>
    </div>
</header>

    <!-- Contenido Principal -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Título y descripción del prototipo IoT -->
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-7 col-md-8">
                        <h2 class="section-heading text-center">Prototipo IOT</h2>
                        <p class="text-center">Consta de un wearable para canes el cual tiene conectado un sensor de
                            temperatura y un sensor de pulso cardiaco del can.</p>
                    </div>
                </div>

                <!-- Carrusel de imágenes e información -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="img-container">
                                <img src="/static/img/pulsocardiaco.jpg" class="d-block mx-auto"
                                    alt="Sensor de Pulso Cardiaco">
                                <div class="text-container">
                                    <h5 class="text-center">Sensor de Pulso Cardiaco</h5>
                                    <p class="text-justify">El sensor de pulso cardiaco permite realizar la medición
                                        del ritmo cardiaco de una persona utilizando microcontroladores.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-container">
                                <img src="/static/img/temperatura.jpg" class="d-block mx-auto"
                                    alt="Sensor de Temperatura">
                                <div class="text-container">
                                    <h5 class="text-center">Sensor de Temperatura</h5>
                                    <p class="text-justify">El LM35 es adecuado para diversas aplicaciones incluidas
                                        electrodomésticos, teléfonos móviles, entre otros.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-container">
                                <img src="/static/img/esp32.jpg" class="d-block mx-auto" alt="Placa ESP32">
                                <div class="text-container">
                                    <h5 class="text-center">Placa ESP32</h5>
                                    <p class="text-justify">La ESP32 es una serie de microcontroladores de bajo costo y
                                        alto rendimiento fabricados por Espressif Systems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pié de página -->
    <footer>
        <div class="container footer-container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <!-- Lista de redes sociales u otros enlaces -->
                        <li class="list-inline-item">
                            <a href="#"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"></a>
                        </li>
                    </ul>
                    <p>Copyright &copy; 2024 · Innovation System (Estudiantes de T.S.U. en T.I. Área Desarrollo de Software Multiplataformas)</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap y Javascripts -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/clean-blog.min.js"></script>


</body>

</html>
