<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Prototipo móvil</title>

<!-- Estilos y fuentes del template  -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="/static/css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

<!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/templates/inicio.html">DOG-HEALTH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templates/informacionCanina.html">INFORMACIÓN CANINA</a>
                </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/movil.html">PROTOTIPO MÓVIL</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/iot.html">PROTOTIPO IOT</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/templates/contacto.html">NOSOTROS</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <nav>
<!-- Cabecera -->
<header 
class="masthead" 
style="background-image: url('/static/img/Designer(1).jpeg')">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
            <h1 class="text-center">Prototipo Móvil</h1>
        </div>
        </div>
    </div>
    </div>
</header>

<!-- Contenido Principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- Título y descripción del prototipo Móvil -->
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 col-md-8">
                    <h2 class="section-heading text-center">Prototipo Móvil</h2>   
                    <p class="text-center">Es una aplicación móvil desarrollada con Flutter que consta con una conexión
                        a una base de datos en la nube NoSQL con los datos del cuidador del canino, 
                        la conexión a sensores para el monitoreo de pulso cardiaco, temperatura. 
                        En el que se resguardarán los datos de monitoreo de manera constante,
                        para llevar un control sobre el canino.</p>
                </div>
            </div>
            
            <!-- Carrusel de imágenes e información -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-container">
                            <img src="/static/img/1_movil.jpg" class="d-block mx-auto" alt="img1" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/2_movil.jpg" class="d-block mx-auto" alt="img2" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/3_movil.jpg" class="d-block mx-auto" alt="img3" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/4_movil.jpg" class="d-block mx-auto" alt="img4" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/5_movil.jpg" class="d-block mx-auto" alt="img5" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/6_movil.jpg" class="d-block mx-auto" alt="img6" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/7_movil.jpg" class="d-block mx-auto" alt="img7" style="height: 650px;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <img src="/static/img/8_movil.jpg" class="d-block mx-auto" alt="img8" style="height: 650px;">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Pié de página -->
<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <!-- Lista de redes sociales u otros enlaces -->
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"></a>
                    </li>
                </ul>
                <p>Copyright &copy; 2024 · Innovation System (Estudiantes de T.S.U. en T.I. Área Desarrollo de Software Multiplataformas)</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap y Javascripts -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/clean-blog.min.js"></script>


</body>

</html>
